VITE_API_BASE_URL=https://9ba6-2a05-45c2-5096-8d00-25bd-cfec-69a1-d861.ngrok-free.app
VITE_API_PROXY_TARGET=https://9ba6-2a05-45c2-5096-8d00-25bd-cfec-69a1-d861.ngrok-free.app
VITE_API_USE_PROXY=true
VITE_USE_MOCK_API=false
